In [ ]:
import pandas as pd
import numpy as np

# 샘플 데이터 생성
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [25, 30, 35, 28],
    'salary': [50000, 60000, 70000, 55000]
})


df_age = df.age + 10

print(df_age)

# 사용자 정의 함수 적용
def add_10(n):             #add_10(n) = n값 즉 '특정값' 에 10을 더하고 
    return n + 10          #위에서 add_10이라는 함수를 사용했는데 리턴할때 다시 n + 10이 나오는 이유
                           #add_10(n) 이라는 함수는 사용자(인간)끼리 10을 더하는 함수다 라고 약속을 했지만 컴퓨터는 함수의 이름을 알아듣지 못함
                           #따라서 컴퓨터한테 위와같이 add_10(n) 을 사용하면 n에 10을 더한값을 리턴(출력)해라 라고 인식시켜주는것

# 시리즈에 함수 적용
sr1 = df['age'].apply(add_10)   #'age'에 해당하는 데이터값에 위에서 정의한 (add_10) 함수를 적용(실행) 시켜서 sr1이라는 새로운 시리즈에 저장한다.
print("add_10 함수 적용 결과:")  #만약 위에서 add_10(n):   return n + 10을 정의해놓지 않았다면 오류 발생
print(sr1)

# 람다 함수 사용
sr2 = df['age'].apply(lambda n: n + 10)     #'age'에 해당하는 데이터값을 하나씩 꺼내서 그걸 'n'이라고 부르고 n에 10을 더한값을 sr2에 저장한다.
print("\n람다 함수 적용 결과:")             #람다 함수를 사용하면 위에처럼 add_10 을 정의 할 필요없이 독립적으로 간편하게 사용가능
print(sr2)

0    35
1    40
2    45
3    38
Name: age, dtype: int64
add_10 함수 적용 결과:
0    35
1    40
2    45
3    38
Name: age, dtype: int64

람다 함수 적용 결과:
0    35
1    40
2    45
3    38
Name: age, dtype: int64

In [2]:
import pandas as pd
# 타이타닉 데이터셋 예시
titanic_data = pd.DataFrame({
    'class': ['First', 'Second', 'Third', 'First', 'Second', 'Third'],
    'sex': ['male', 'female', 'male', 'female', 'male', 'female'],
    'age': [22, 38, 26, 35, 45, 29],
    'fare': [71.28, 71.28, 7.92, 53.10, 13.00, 7.75]
})

1. `age` 열에 각 나이에 10을 더하는 `add_10()` 함수를 적용하세요.
2. `age` 열에 `람다` 함수를 사용하여 모든 나이에 5를 곱하는 변환을 수행하세요.
3. `age`와 `fare` 열에 동시에 최댓값과 최솟값의 차이를 계산하는 함수를 적용하세요.

In [4]:
def add_10(n):
    return n + 10

age10 = titanic_data['age'].apply(add_10)

print(age10)

0    32
1    48
2    36
3    45
4    55
5    39
Name: age, dtype: int64

In [5]:
rmage = titanic_data['age'].apply(lambda n: n * 5)
print(rmage)

0    110
1    190
2    130
3    175
4    225
5    145
Name: age, dtype: int64

In [6]:
def get_range(column):                      #column = 열에 해당하는 데이터값
    return column.max() - column.min()      #앞으로 get_range(column) 을 한다고 하면 column.max() - column.min() 열의 최대값 - 열의 최소값 을 계산한 값을 넣어라.

result = titanic_data[['age', 'fare']].apply(get_range)

print(result)

age     23.00
fare    63.53
dtype: float64

In [ ]:
result2 = titanic_data[['age', 'fare']].apply(lambda x: x.max() - x.min())   #여기서 사용되는 x 는 column 과 동일하다

print(result)

age     23.00
fare    63.53
dtype: float64

In [10]:
df_sorted = titanic_data.sort_index(ascending=False)
print(df_sorted)

    class     sex  age   fare
5   Third  female   29   7.75
4  Second    male   45  13.00
3   First  female   35  53.10
2   Third    male   26   7.92
1  Second  female   38  71.28
0   First    male   22  71.28