In [13]:
import pandas as pd
# 주식회사 아이펠 소속 직원에 대한 정보입니다.
data = {
    'Name': ['Kim', 'Lee', 'Park', 'Choi', 'Jung'],
    'Dept': ['IT', 'Sales', 'IT', 'HR', 'Sales'],
    'Score': [85, 92, 78, 88, 95],
    'position':['junior', 'senior', 'manager','senior' , 'manager'],
    'Salary': [5000, 6000, 4500, 4800, 7000],
    'Age': [25, 34, 31, 28, 45]
}

df = pd.DataFrame(data)
df

   Name   Dept  Score position  Salary  Age
0   Kim     IT     85   junior    5000   25
1   Lee  Sales     92   senior    6000   34
2  Park     IT     78  manager    4500   31
3  Choi     HR     88   senior    4800   28
4  Jung  Sales     95  manager    7000   45

### 질문 1: "전체 직원 중 IT 부서에서 근무하는 사람들만 따로 모아서 보세요.
학습 도구: .loc[행, 열] 사용법

In [5]:
# loc 활용
# Dept 칼럼의 값이 'IT'인 데이터를 찾는다.
# 코드표현 df['Dept'] =='IT'  
# 조립: df.loc[행 조건, 열 선택]
 
# 답안작성

### 질문 2: "성적이 90점 이상인 우수 사원들의 이름과 연봉 정보만 콕 집어서 리스트로 만드세요.

In [7]:
# 답안작성

### 질문 3: "기준 연봉을 5,000으로 설정했을 때, 이보다 많이 받는 사람들을 **변수**를 활용해 필터링하세요.
학습 도구: .query()

In [16]:
# 답안작성

### 질문 4 : 각 부서의 평균 나이와 평균 점수 그리고 판매금액의 최댓값 최소값 평균값을 데이터 프레임으로 만들어보세요.

In [17]:
#답안작성
#.agg 집계규칙합수 사용

### 질문 5: Score가 85 이상인 사람만 남긴 뒤, Dept별 Salary 평균을 구하세요.

In [ ]:
#답안작성

### 질문 6: "각 부서에 속한 직원의 직급별 연봉을 피벗테이블로 표시하고, 해당 합계(Total Salary)를 표시하세요.  (결측치는 0으로 처리)

In [ ]:
#답안작성