# ğŸ§© ë¬¸ì œ : ë³€í™˜(Transformation)

1. ê° class ê·¸ë£¹ë³„ë¡œ fareì˜ ëˆ„ì í•©(cumulative sum) ì„ ê³„ì‚°í•˜ì—¬ fare_cumsum ì»¬ëŸ¼ì„ ìƒˆë¡œ ìƒì„±í•˜ì„¸ìš”. ì´ ì§ˆë¬¸ì˜ ì½”ë“œ ì¸ë°ìš”. ë¹ˆì¹¸ì—ëŠ” ë¬´ì—‡ì´ ë“¤ì–´ê°ˆê¹Œìš”?
2. ê° class ê·¸ë£¹ ë‚´ì—ì„œ ageë¥¼ z-scoreë¡œ í‘œì¤€í™”í•˜ì—¬ age_zscore ì»¬ëŸ¼ì„ ìƒì„±í•˜ì„¸ìš”. ì•„ë˜ ì½”ë“œì— '=' ë’¤ì— ì˜¬ ì½”ë“œëŠ” ë¬´ì—‡ì¼ê¹Œìš”?

In [ ]:
# ë°ì´í„°
import pandas as pd
import numpy as np

np.random.seed(0)

# ìŠ¹ê° ë°ì´í„°ë¥¼ ê°€ì •í•œ 500ê°œì˜ í–‰ì„ ê°€ì§„ ì˜ˆì œ ë°ì´í„° ìƒì„±
data = {
    'class': np.random.choice(['First', 'Second', 'Third'], 500),
    'fare': np.random.uniform(20, 150, 500),
    'age': np.random.normal(35, 8, 500)
}

df = pd.DataFrame(data)
display(df)

      class        fare        age
0     First   83.806420  42.112162
1    Second   81.034779  36.593128
2     First  134.752208  20.730669
3    Second   83.493308  48.702986
4    Second   73.893773  27.293905
..      ...         ...        ...
495   First   24.195527  23.662590
496   First   79.369387  38.399735
497   Third  127.223702  34.876334
498  Second  106.918760  41.370661
499   Third   90.969288  25.820814

[500 rows x 3 columns]

In [ ]:
# 1. ê° class ê·¸ë£¹ë³„ë¡œ fareì˜ ëˆ„ì í•©(cumulative sum) ì„ ê³„ì‚°í•˜ì—¬
# fare_cumsum ì»¬ëŸ¼ì„ ìƒˆë¡œ ìƒì„±í•˜ì„¸ìš”. ì´ ì§ˆë¬¸ì˜ ì½”ë“œ ì¸ë°ìš”.
# ë¹ˆì¹¸ì—ëŠ” ë¬´ì—‡ì´ ë“¤ì–´ê°ˆê¹Œìš”?
# íŒíŠ¸! ìƒˆë¡œ ìƒì„±í•  ì»¬ëŸ¼ ì´ë¦„ì„ ìì„¸íˆ ë´ë³¼ê¹Œìš”?

df['fare_cumsum'] = (
    df.groupby('_____')['_____']
      ._____()
)

display(df)

In [ ]:
# 2. ê° class ê·¸ë£¹ ë‚´ì—ì„œ ageë¥¼ z-scoreë¡œ í‘œì¤€í™”í•˜ì—¬ age_zscore ì»¬ëŸ¼ì„ ìƒì„±í•˜ì„¸ìš”.
# ì•„ë˜ ì½”ë“œì— '=' ë’¤ì— ì˜¬ ì½”ë“œëŠ” ë¬´ì—‡ì¼ê¹Œìš”?
# íŒíŠ¸! 1. z-score ê³µì‹ : (ê°’ - í‰ê· ) / í‘œì¤€í¸ì°¨
# íŒíŠ¸! 2. transform()í•¨ìˆ˜ì™€ lambdaí•¨ìˆ˜ í™œìš©

df['age_zscore'] =

display(df)